@import "tailwindcss";

@theme {
  --color-eco-green: #16a34a;
  --color-eco-dark: #14532d;
  --color-eco-light: #dcfce7;
}

/* 🚗 Style de base du marqueur voiture */
.car-marker {
  font-size: 28px;
  line-height: 1;
  transition: transform 0.2s linear;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}
.car-marker {
  font-size: 28px;
  line-height: 1;
  transition: transform 0.2s linear;
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.3));
}
